#bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

/* code in JS */
.buyProductContainer {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5%;
    box-shadow: 6px 6px 5px -5px rgba(213,64,92,0.75);
}

.imgNameContainer {
    display: flex;
    width: 60%;
}

.imgContainer {
    height: 100px;
    width: 170px;
    display: flex;
    justify-content: center;
}

.nameCountContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
    
}
.nameContainer {
    width: 250px;
}
.nameCountContainer p {
    margin: 0;
    padding: 0;
}

.costContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 1%;
}

.priceContainer {
    height: 70%;
}

.productCount {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}
.productCount p {
    margin-right: 2%;
}

.productDeleteContainer {
    display: flex;
    height: 100%;
}
.iconDelete {
    height: 31%;
    cursor: pointer;
}
.iconDelete:hover {
    font-weight: bold;
}

/* shipping type */
.shippingTypeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shippingTypeContainer h4 {
    margin: 1% 0;
}

.shippingType {
    width: 50%;
    display: flex;
    flex-direction: column;
} 
.shippingType form {
    display: flex;
    flex-direction: column;
    box-shadow: -1px -8px 23px -11px rgba(213,64,92,0.75); 
}
/* fin - shipping type */

/* Ubication Container */
.ubicationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3% 15%;
    align-items: center;
    background: #ff2e88;
}
.ubicationData {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 3%;
    box-shadow: 1px 7px 7px -9px rgba(255,255,255,1);
}

.ubicationTitle {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
}



.ubicationContent {
    height: 3em;
    padding: 0 1%;
    margin: 3.5% 0 1.5%;
    width: 300px;
}
/* fin - Ubication Container */

/* costos totales */
.totalCostProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.infoContainer {
    width: 31%;
}
.infoContainer p {
    padding: 0;
    margin: 0;
}

.totalPay {
    display: flex;
    margin-bottom: 5%;
    padding: 0 2%;
    justify-content: space-between;
    box-shadow: 0px 9px 9px -10px rgba(0,0,0,0.75);
}
/* fin - costos totales */

/* forma de pago */
.payType {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45% !important;
}

#showTypePay {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
}

.payType button {
    margin-left: 7%;
    background-color: #002042;
    border-radius: inherit;
    border: none;
}
.payType button:hover {
    background-color: #77b1f0;
    color: #000000;
}

.modalClose {
    font-weight: bold !important;
    color: #5a5a5a !important;
    background: transparent !important;
    border: 3px solid red !important;
}
.modalClose:hover {
    background: rgba(252, 77, 77, 0.583) !important;
}
.modalConfirm {
    font-weight: bold !important;
    color: #5a5a5a !important;
    background: transparent !important;
    border: 3px solid #2b882b !important
}
.modalConfirm:hover {
    background: #48c94893 !important;
}

.formPay {
    display: flex;
    flex-direction: column;
}

.optionsPay {
    display: flex !important;
    align-items: center;
}

.inputStyle {
    margin-right: 3%;
}

.cardNumberDate {
    display: flex;
    justify-content: space-between;
}

.cardNumberContainer {
    display: flex;
    align-items: center;
}

.payTitle {
    margin: 0; padding: 0;
}
.inputPay {
    overflow: visible;
    margin: 2.5% 0;
    border-radius: 7px 7px 7px 7px;
    border: .5px solid grey;
}
.validationCard {
    display: flex;
    justify-content: space-between;
}
.validationSelect {
    width: 38%; 
    height: 30px;
    margin: 1% 0;
    border-radius: 7px 7px 7px 7px;
    border: .5px solid grey;
}

/* boton de compra */
.containerButton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.button {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid limegreen;
    background: limegreen;
    width: 31%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button:hover, .buttonBuy:hover, .buyArrow:hover {
    background: rgb(45, 175, 45);
    border: 2px solid  rgb(45, 175, 45);
    color: #fff;
}

.buyArrow {
    margin: 0 5%;
}

.buttonBuy {
    width: 90%;
    height: 3.3em;
    font-size: 1.3em;
    border-left: 2px solid rgb(31, 118, 31);
    border-top: none;
    border-bottom: none;
    border-right: none;
    background: limegreen;
}

/* modal compra exitosa */
.modalBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

