.commentsListAndAdd {
    width: 90%;
    padding: 0;
}
/* lista de comentarios */
.containerRating {
    justify-content: center;
}

.containerComments {
    border-top: 1px solid #c2c2c2;
    padding: .7em 0 .7em;
    width: 100%;
    flex-direction: column;
}

.ratingDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerComments p {
    padding: 0;
}

.dateTime {
    display: flex;
    justify-content: flex-end;
}
/* añadir comentario y valoración */
.addComment {
    width: 100%;
}

.addComment textarea {
    width: 100%;
}

.valorationAndSave {
    display: flex;
    justify-content: space-between;
}

.containerValoration {
    display: flex;
    align-items: center;
}

.valorationAndSave button {
    border: 1px solid #ced4da;
    padding: 0 2%;
    background-color: #fc4e9934;
    color: #d61c6c;
    border-radius: 7%;
    height: 38px;
    font-weight: 600;
}
.valorationAndSave button:hover {
    background: rgba(231, 141, 160, 0.164);
}
/* nuevo comentario */
.containerNewComments {
    border-top: 1px solid #c2c2c2;
    padding: .7em 0 .7em;
    width: 100%;
    flex-direction: column;
}
/* productos relacionados */
.containerRelated {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin: 0 .5% 1.5%;
    box-shadow: 7px -7px 7px -5px rgba(247,140,188,1);
    background: rgb(255,255,255);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 48%,rgba(204,185,192,1) 75%,rgba(209,110,151,1) 100%);
}

.containerImage {
    display: flex;
    justify-content: center;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerInfo h4 {
    font-weight: bold;
}

.containerInfo p {
    color: #d61c6c;
    font-weight: 600;
    padding: 0;
}

.containerInfo span {
    text-align: center;
}

.verMas {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 5%;
} 

.verMas i {
    color: #ffffff;
    font-size: 1.5em;
}

.verMas i:hover {
    color: #000000;
    font-size: 1.6em;
}
